@model PartsInvViewModel

<div class="row">
    <div class="col">Quantity</div>
    <div class="col">Cost Code</div>
    <div class="col"></div>
</div>

<div class="row">
    <div class="col">
        <input name="Quantity" class="form-control form-control-sm inputField" />
    </div>
    <div class="col">
        <input name="CostCode" class="form-control form-control-sm inputField" />
    </div>
    <div class="col">
        <button type="submit" class="btn btn-primary btn-sm inputField sm-button">Add</button>
    </div>
</div>
